body,
main,
ul,
p {
  margin: 0px;

  font-family: "Poppins", sans-serif;
  background-color: #f1ebe4;
  color: black;
}

body {
  margin-bottom: 15px;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: #c6ac8f;
  color: #0a0908;
  border: #d71709 2px solid;
  border-radius: 20px;
  padding: 5px 10px;
}
